name: 'Tablatal'
scopeName: 'tablatal'
fileTypes: ['tbtl', 'tome', 'ma']
patterns: [
    {
        match: '~ '
        name: 'language.constant.tablatal'
    }
    {
        match: '@ '
        name: 'entity.name.tablatal'
    }
    {
        match: '[^@~]'
        name: 'comment.block.tablatal'
    }
]
